@use "../../scss/assets" as *;

.collection {
  width: 100%;
  padding-left: 9rem;
  padding-bottom: 8rem;
}

.filter {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;

  ul {
    display: flex;
    gap: 2rem;
    li {
      padding: 0.8rem 1.5rem;
      border-radius: 2rem;
      background: $yellow;
      a {
        color: #000;
        font-weight: 700;
      }
    }
  }
}

.collection-list {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  position: relative;
  flex-wrap: wrap;
}

.collection-item {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  width: 10rem;

  article {
    position: absolute;
    background: rgba(3, 3, 3, 0.363);
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    gap: 0.3rem;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1rem;

    h2 {
      font-size: 1rem;
    }

    p {
      font-size: 0.875rem;
    }
  }
}

.liked {
  h2 {
    color: $white;
    font-size: 1.25rem;
    margin: 1rem 0;
    text-transform: capitalize;
  }
}

.liked .song {
  justify-content: flex-start;
  gap: 2rem;
  .stylebx {
    width: auto;
    gap: 2rem;
  }
}

.like_save_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 900px) {
  .collection {
    padding: 2rem 1rem;
    padding-bottom: 8rem;
  }

  .collection-list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .filter {
    button {
      font-size: 1rem;
    }
  }

  .collection-item {
    width: 8rem;
  }
  .liked .song {
    .stylebx {
      gap: 0.3rem;
    }
  }
}
