@use "../../scss/assets" as *;

.collection {
  width: 100%;
  padding-left: 9rem;
}

.filter {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;

  button {
    padding: 0.5rem 1.5rem;
    color: $darkbg;
    font-weight: 700;
    text-transform: capitalize;
    background: $yellow;
    border: 0.2rem solid $yellow;
    border-radius: 3rem;
  }
}

.collection-list {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  position: relative;
}

.collection-item {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;

  article {
    position: absolute;
    background: rgba(3, 3, 3, 0.363);
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    gap: 0.3rem;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1rem;

    h2 {
      font-size: 1rem;
    }

    p {
      font-size: 0.875rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .collection {
    padding: 2rem 1rem;
    padding-bottom: 8rem;
  }

  .collection-list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .filter {
    button {
      font-size: 1rem;
    }
  }

  .collection-item {
    img {
      width: 9rem;
      height: 9rem;
    }
  }
}
