.music {
  width: 100%;
  padding-left: 10rem;
  padding-bottom: 10rem;
  min-height: 100vh;
  display: flex;
  align-items: center;

  h1 {
    color: #fff;
    text-transform: capitalize;
  }

  button {
    background: red;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    width: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .music {
    padding-left: 0;
    padding: 7rem 1rem;
  }
}
