@use "../../scss/assets" as *;

.playlist-page {
  padding-left: 9rem;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 10rem;
}

.playlist_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.playlist-wrapper {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;

  img {
    width: 15rem;
  }
  p {
    font-size: 0.875rem;
  }

  button {
    font-size: 0.875rem;
  }
}

.playlist-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  text-transform: capitalize;
}

.options {
  display: flex;
  gap: 0.5rem;
  button {
    padding: 0.75rem;
    border-radius: 2rem;
    background: $darkbg;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    img {
      width: 1rem;
      filter: invert(70%) sepia(65%) saturate(332%) hue-rotate(0deg)
        brightness(104%) contrast(96%);
    }
  }
}

.song-wrapper {
  margin-top: 2rem;
  padding-right: 2rem;
}

.song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin-top: 0.5rem;
  background: $darkbg;
  padding: 0.5rem;
  border-radius: 0.5rem;
  img {
    width: 2.5rem;
  }
}
.stylebx {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.stylebx:nth-child(3) {
  img {
    width: 1rem;
    filter: invert(70%) sepia(65%) saturate(332%) hue-rotate(0deg)
      brightness(104%) contrast(96%);
  }
}

.stylebx {
  button {
    img {
      width: 1rem;
      filter: invert(70%) sepia(65%) saturate(332%) hue-rotate(0deg)
        brightness(104%) contrast(96%);
    }
  }
}

@media screen and (max-width: 900px) {
  .playlist-page {
    padding: 2rem 1rem;
    padding-bottom: 8rem;
  }
  .playlist-wrapper {
    flex-direction: column;
    img {
      width: 90%;
      margin: auto;
    }
  }

  .song {
    gap: 1rem;
  }

  .song-wrapper {
    padding-right: 0;
  }
  .stylebx {
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.875rem;
    align-items: flex-start;
    width: fit-content;
  }

  .stylebx:nth-child(2) {
    flex: 3 1 auto;
  }

  .stylebx:nth-child(1) {
    img:nth-child(2) {
      display: none;
    }
  }
  .stylebx:nth-child(3) {
    flex-direction: column-reverse;
  }
}
