@use "../../scss/assets" as *;

.songbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: $darkbgblur;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;

  img {
    width: 4rem;
  }
}

.current-song {
  display: flex;
  gap: 1rem;
  width: 20%;

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 1rem;
    }
    p {
      font-size: 0.875rem;
    }
  }
}

.audio-box {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  input[type="range"] {
    width: 100%;
  }
}

.playpause {
  background: $yellow;
  border-radius: 3rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 1rem !important;
  }
}

.volume-output {
  width: 20%;
  display: flex;
  gap: 1rem;
  align-items: center;

  img {
    width: 1.5rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(59deg)
      brightness(110%) contrast(103%);
  }
}

.audio-controls {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;

  button {
    img {
      width: 2rem;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(59deg)
        brightness(110%) contrast(103%);
    }
  }
}

input[type="range"] {
  position: relative;
  appearance: none;
  margin: 0;
  padding: 0;
  height: 0.5rem;
  float: left;
  outline: none;
  background: $darkbg;
  box-shadow: inset 0 0 0.1rem rgba(255, 255, 255, 0.2);
  border-radius: 0.3rem;
  overflow: hidden;
}

input[type="range"]::-moz-range-thumb {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 0.1rem solid $yellow;
  background: $yellow;
  background-clip: content-box;
  padding: 0.2em;
  cursor: pointer;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 0.1rem solid $yellow;
  background: $yellow;
  background-clip: content-box;
  padding: 0.2em;
  cursor: pointer;
  box-shadow: 0 0 10rem $yellow;
}

input[type="range"]::-moz-range-progress {
  height: 0.5rem;
  border-radius: 0.3rem;
  background: $yellow;
  appearance: none;
}
