@use "../../scss/assets" as *;

#Song {
  display: none;
}

.songbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: $darkbgblur;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;

  img {
    width: 4rem;
  }
}

.current-song {
  display: flex;
  gap: 1rem;
  width: 20%;

  img {
    width: 4rem;
    height: 4rem;
    border-radius: 0.3rem;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 1rem;
    }
    p {
      font-size: 0.875rem;
    }
  }
}

.player .rhap_main {
  flex-direction: column-reverse;
}

.rhap_container {
  background: transparent !important;
}

.player .rhap_main-controls {
  position: absolute;
  top: 0.7rem;
  left: 40%;
}

.player .rhap_progress-section {
  position: absolute;
  bottom: 0.7rem;
  left: 25%;
  right: 25%;
}
.player .rhap_additional-controls {
  display: none;
}

.player .rhap_volume-container {
  display: flex;
  position: absolute;
  width: 10%;
  top: 20%;
  right: 5rem;
}

.rhap_volume-button {
  color: $yellow !important;
}

.player .rhap_play-pause-button * {
  color: $yellow;
}

.player .rhap_progress-filled {
  background: $yellow !important;
}

.rhap_progress-indicator,
.rhap_volume-indicator {
  background: $white !important;
}

.player .rhap_download-progress,
.rhap_volume-bar {
  background: $white;
}

.rhap_controls-section {
  display: block !important;
}

.rhap_time {
  display: none;
}

@media screen and (max-width: 600px) {
  .songbar {
    justify-content: space-between;
  }

  .player .rhap_progress-section,
  .player .rhap_volume-container {
    display: none !important;
  }

  .player .rhap_main-controls {
    left: 50%;
    right: 2rem;
    top: 33%;
  }
}
